{
  "src/**/*.js": [
    "yarn run fix:obj",
    "git add"
  ],
  "src/**/styled.js": [
    "stylelint",
    "git add"
  ],
  "*.js": [
    "prettier --write",
    "eslint --fix --max-warnings=0 --ignore-pattern '!.eslintrc.js'",
    "git add"
  ],
  "*.sass": [
    "yarn run sass-lint:fix",
    "yarn run sass-lint",
    "git add"
  ]
}
